<p>home works!</p>

<h1>Form elements:</h1>

<br>
<hr>
<div>
    <h3>Button, span and input <i>bt-btn</i> , former <i>.bio-btn-blue</i></h3>
    <button bt-btn>Button</button>
</div>

<br>
<hr>
<div>
    <h3>Button, span and input <i>bt-btn-dark</i> , former <i>.bio-btn-darkblue</i></h3>
    <button bt-btn-dark>Button</button>
</div>

<br>
<hr>
<div>
    <h3>Button, span and input <i>bt-btn-dark-large</i> , former <i>.bio-btn-darkblue-large</i></h3>
    <button bt-btn-dark-large>Button</button>
</div>

<br>
<hr>
<div>
    <h3>Button, span and input <i>bt-btn-stroke</i> , former <i>.bio-btn-blue-stroke</i></h3>
    <button bt-btn-stroke>Button</button>
</div>

<br>
<hr>
<div>
    <h3>Button, span and input <i>bt-btn-stroke-small</i> , former <i>.bio-btn-blue-stroke-small</i></h3>
    <button bt-btn-stroke-small>Button</button>
</div>

<br>
<hr>
<div style="background-color: lightgray;">
    <h3>Button, span and input <i>bt-btn-dark-stroke</i> , former <i>.bio-btn-darkblue-stroke</i></h3>
    <button bt-btn-dark-stroke>Button</button>
</div>


<section>
    <h3>This is the title of a section</h3>
    <p>
        Explore communities in bio.tools and see what resources are used by different scientific communities.

Experts from scientific communities are key in identifying what are the methods and software resources used in their research activities. We rely upon scientific communities to improve the terminology and description of resources in different domains of the Life Sciences. This includes the communities being fostered by ELIXIR, and any other group of scientists with an interest to help out.

We strongly encourage everyone to take part in the community effort and contribute. Email us for more info.
    </p>
    <br>
    <p>
        In bio.tools we try, with the help of the community, to create content domains or "slices" relevant to a specific community, research area or task (e.g. Proteomics, Rare diseases, COVID-19).

        Explore and search bio.tools domains and manage your own domains. Read more about bio.tools domains here.
    </p>
    <br>
    <p>
        bio.tools resource descriptions adhere to rigorous information standards including precise semantics and syntax. Scientific aspects are provided by the EDAM ontology and technical aspects are covered by biotoolsSchema. Both are open, community-defined standards to which you can contribute.

The EDAM ontology provides a precise nomenclature (terms within a controlled vocabulary) for scientific characterisation of tools, including topic (a category within the life sciences, e.g. "Proteomics"), operation (a specific scientific thing that a tool does, e.g. "Peptide identification"), data (a type of biological data, e.g. "Mass spectrometry spectra") and format (a specific data serialisation format e.g. "Thermo RAW").

biotoolsSchema is a formalised XML schema (XSD) which defines a controlled vocabulary and precise syntax for some 50 general software attributes such as name, description, software license and programming language. biotoolsSchema makes heavy use of regular expressions, standard identifiers and URLs (to refer to verbose information), enabling concise and consistent descriptions in bio.tools.

Contributions to EDAM and biotoolsSchema are most welcome. For EDAM, see the documentation. For biotoolsSchema, head to GitHub.
    </p>

</section>