<footer id="footer">


    <div class="footer-container">

        <nav class="cell primary-nav">

            <div class="media-links"><a href="#" class="readthedocs"></a></div>
            <h3>Docs</h3>

            <ul>
                <li><a href="#">bio.tools</a></li>
                <li><a href="#">Quickstart Guide</a></li>
                <li><a href="#">API Usage Guide</a></li>
                <li><a href="#">API Reference</a></li>
                <li><a href="#">Curators Guide</a></li>
                <li><a href="#">biotoolsSchema</a></li>
                <li><a href="#">EDAM Ontology</a></li>
            </ul>
        </nav>
        <nav class="cell">
            <div class="media-links"><a href="#" class="support"></a></div>
            <h3>Support</h3>
            <ul>
                <li><a href="#">Email Us</a></li>
                <li><a href="#">Issues</a></li>
                <li><a href="#">Getting Involved</a></li>
                <li><a href="#">Mailing Lists</a></li>
                <li><a href="#">Licensing</a></li>
            </ul>
        </nav>
        <nav class="cell">
            <div class="media-links"><a href="#" class="bt"></a></div>
            <h3>About</h3>
            <ul>
                <li><a href="#">About bio.tools</a></li>
                <li><a href="#">bio.tools Stats</a></li>
                <li><a href="#">Contributors</a></li>
            </ul>
        </nav>
        <nav class="cell">
            <div class="media-links"><a href="#" class="github"></a></div>
            <h3>GitHub</h3>
            <ul>
                <li><a href="#">bio.tools</a></li>
                <li><a href="#">bio.tools Organisation</a></li>
                <li><a href="#">biotoolsSchema</a></li>
                <li><a href="#">EDAM Ontology</a></li>
            </ul>
        </nav>
    </div>


    <div class="inner">
        <div class="site-logo-container">
            <a href="index.html" class="site-logo"></a>
        </div>

        <nav class="secondary-nav">
            <ul>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Cookies</a></li>
            </ul>
        </nav>
        <div class="social-links">

            <div class="other">
                <a href="#" class="elixir"></a>
            </div>

            <div class="social">
                <a href="#" class="twitter"></a>
            </div>
        </div>
    </div>
</footer>