<h1>Reset password</h1>
<p>
    Enter your email address and we will send you a password reset link.
</p>

<form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)">
    <label for="email">Email:</label>
        <input 
            type="email" 
            id="email"
            ngModel
            name="email"
            required
            email
        >
    <div>
        <button type="submit" [disabled]="!resetPasswordForm.valid">Send password reset email</button>
    </div>
    <span>{{message}}</span>
</form>
