/* VARIABLES */
/* MIXIN */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  99% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 8, ../../sass/pages/search-list.scss */
section.bio-top-section > .bio-search-browse {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -170px;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  /* line 8, ../../sass/pages/search-list.scss */
  section.bio-top-section > .bio-search-browse {
    position: static;
    margin-left: auto;
    width: auto;
    margin: 0 auto;
    padding-top: 40px;
  }
}
@media screen and (max-width: 415px) {
  /* line 8, ../../sass/pages/search-list.scss */
  section.bio-top-section > .bio-search-browse {
    margin-left: 30px;
    margin-right: 30px;
  }
}
/* line 26, ../../sass/pages/search-list.scss */
section.bio-top-section .bio-search-container {
  margin: 0 auto;
  margin-top: 35px;
}
@media screen and (max-width: 930px) {
  /* line 26, ../../sass/pages/search-list.scss */
  section.bio-top-section .bio-search-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}
/* line 34, ../../sass/pages/search-list.scss */
section.bio-top-section .bio-search-container.hide {
  height: auto;
  opacity: 1;
}
/* line 39, ../../sass/pages/search-list.scss */
section.bio-top-section .bio-top-options {
  padding-top: 70px;
}
/* line 41, ../../sass/pages/search-list.scss */
section.bio-top-section .bio-top-options .bio-checkbox-switch {
  padding-left: 40px;
}
@media screen and (max-width: 880px) {
  /* line 41, ../../sass/pages/search-list.scss */
  section.bio-top-section .bio-top-options .bio-checkbox-switch {
    padding-left: 20px;
  }
}

/* line 51, ../../sass/pages/search-list.scss */
section.search-results-heading h1 {
  padding: 55px 0px;
  text-align: center;
  border-bottom: 1px solid #d3d8da;
}
@media screen and (max-width: 850px) {
  /* line 51, ../../sass/pages/search-list.scss */
  section.search-results-heading h1 {
    font-size: 32px;
    padding: 35px 0px;
  }
}
