<h1>Set a new password</h1>

<form #newPasswordForm="ngForm" (ngSubmit)="onSubmit(newPasswordForm)">
    <div>
        <label for="password1">Password:</label>
        <input 
            type="password" 
            id="password1"
            ngModel
            name="password1"
            required
            minlength="8"
        >
    </div>
    <div>
        <label for="password2">Repeat Password:</label>
        <input 
            type="password" 
            id="password2"
            ngModel
            name="password2"
            required
            minlength="8"
        >
    </div>
    <div>
        <button type="submit" [disabled]="!newPasswordForm.valid">Reset password</button>
    </div>
    <div *ngIf="hasError">
        <span>The reset password link is invalid. Receive a new one <a [routerLink]="['/','reset-password']">here</a></span>
    </div>
</form>
